<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../../../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../css/projeto.css">
  <title>Editar Projetos</title>
</head>

<body>

  <div class="img_fundo">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/pos-login/home">Home</a>
          </li>
          <li>
            <a href="/pos-login/funcionario/list">Funcionários</a>
          </li>
          <li>
            <a href="/pos-login/projeto/list" class="selecionado">Projetos</a>
          </li>
          <li>
            <a href="/pos-login/financeiro/list">Financeiro</a>
          </li>
          <li>
            <a href="#" class="icone_perfil"><i class="fi fi-rr-user icone_perfil"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <div th:if="${isSaved}" class="alert alert-success">
      <h4>Operação realizada com sucesso!</h4>         
    </div>

    <div th:if="${isError}" class="alert alert-danger">
      <h4>Erro ao tentar salvar os dados!</h4>
      <label th:text="#{errorMsg}"></label>
    </div>

    <main class="projeto">

      <h1>Editar Projetos</h1>
      
      <div id="form">
        <form th:action="@{/pos-login/projeto/save}"
        method="post" class="formulario"
        th:object="${projeto}">        
          <div class="format_div">
            <div class="form-floating mb-3 format_label">
              <input type="number" th:field="${projeto.id}" readonly class="form-control" id="floatingInputId" placeholder="Código">
              <label for="floatingInputId">Código</label>
            </div>
            <div class="form-floating mb-3 format_label">
              <input type="text" th:field="${projeto.nome}" class="form-control" id="floatingInputNome" placeholder="Nome" required>
              <label for="floatingInputNome">Nome</label>
            </div>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select" aria-label="Selecionar status"
                    th:field="${projeto.status}" required
                    id="floatingInputStatus"
            >
              <option class="option" value="Em Planejamento">Em Planejamento</option>
              <option class="option" value="Em Análise">Em Análise</option>
              <option class="option" value="Em Execução">Em Execução</option>
              <option class="option" value="Finalizado">Finalizado</option>
              <option class="option" value="Cancelado">Cancelado</option>
            </select>
            <label for="floatingInputStatus">Status</label>
          </div>
          <div class="format_div">
            <div class="form-floating mb-3 format_label">
              <input type="date" th:field="${projeto.dataInicial}" class="form-control" id="floatingInputDataInicial" placeholder="Data Inicial" required>
              <label for="floatingInputDataInicial">Data Inicial</label>
            </div>
            <div class="form-floating mb-3 format_label">
              <input type="date" th:field="${projeto.dataFinal}" class="form-control" id="floatingInputDataFinal" placeholder="Data Final" required>
              <label for="floatingInputDataFinal">Data Final</label>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="number" th:field="${projeto.orcamento}" class="form-control"
                    id="floatingInputOrcamento" placeholder="Orçamento" required>
            <label for="floatingInputOrcamento">Orçamento</label>
          </div>
          <div class="div-funcionarios">
            <label for="floatingInputFuncinarios">Lista de Funcionários</label>
            <select class="form-select" aria-label="Selecionar funcionáros"
                    th:field="${projeto.funcionarios}" required
                    id="floatingInputFuncinarios"
                    multiple
                    size="10"
            >
              <option th:each="fn : ${funcionarios}"
                      th:value=${fn.id}
                      th:text="${fn.nome}"
              ></option>
            </select>
          </div>
          <div class="form-floating mb-3 botoes" style="margin-bottom: 0 !important;">
            <button type="submit" class="btn btn-success" >Salvar</button>
            <button type="button" class="btn btn-secondary"
              onclick="window.location.href='../list'">
              Cancelar
          </button>
          </div>
          </form>
      </div>
    </main>
    
  </div>
  
  <script src="../../../js/jquery-3.6.0.min.js"></script>
  <script src="../../../js/popper.min.js"></script>
  <script src="../../../bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>
</html>