<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../../../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../../css/funcionario.css">
  <title>Editar Funcionários</title>
</head>

<body>

  <div class="img_fundo">
    
    <header>
      <nav>
        <ul>
          <li>
            <a href="/pos-login/home">Home</a>
          </li>
          <li>
            <a href="/pos-login/funcionario/list" class="selecionado">Funcionários</a>
          </li>
          <li>
            <a href="/pos-login/projeto/list">Projetos</a>
          </li>
          <li>
            <a href="/pos-login/financeiro/list">Financeiro</a>
          </li>
          <li>
            <a href="#" class="icone_perfil"><i class="fi fi-rr-user icone_perfil"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <main>

      <h1 class="edit_add">Editar Funcionarios</h1>

        <div th:if="${isSaved}" class="alert alert-success" >
          <h4>Operação realizada com sucesso!</h4>
        </div>

        <div th:if="${isError}" class="alert alert-danger">
          <h4>Erro ao tentar salvar os dados!</h4>
          <label th:text="#{errorMsg}"></label>
        </div>

        <form th:action="@{/pos-login/funcionario/save}"
        method="post" class="formulario"
        th:object="${funcionario}" style="max-width: 800px; margin: auto; padding-top: 1em;">

          <div class="form-floating mb-3">
            <input type="number" th:field="${funcionario.id}" readonly class="form-control" id="floatingInputId" placeholder="Código">
            <label for="floatingInputId">Identificação Funcionario</label>
          </div>
          <div class="format_div">
            <div class="form-floating mb-3 format_label">
              <input type="text" th:field="${funcionario.nome}" class="form-control" id="floatingInputNome" placeholder="Nome" required>
              <label for="floatingInputNome">Nome</label>
            </div>
            <div class="form-floating mb-3 format_label">
              <input type="text" th:field="${funcionario.cpf}" class="form-control" id="floatingInputCpf" placeholder="CPF" required>
              <label for="floatingInputCpf">CPF</label>
            </div>
          </div>
          <div class="format_div">
            <div class="form-floating mb-3 format_label">
              <input type="email" th:field="${funcionario.email}" class="form-control" id="floatingInputEmail" placeholder="E-mail" required>
              <label for="floatingInputEmail">E-mail</label>
            </div>
            <div class="form-floating mb-3 format_label">
              <input type="text" th:field="${funcionario.telefone}" class="form-control" id="floatingInputTelefone" placeholder="Telefone" required>
              <label for="floatingInputNome">Telefone</label>
            </div>
          </div>

          <div class="form-floating mb-3">
            <button type="submit" class="btn btn-success">Salvar</button>
            <button type="button" class="btn btn-secondary"
              onclick="window.location.href='../list'">
              Cancelar
            </button>
          </div>
        </form>
    
    </main>
  </div>

  <script src="../../../js/jquery-3.6.0.min.js"></script>
  <script src="../../../js/popper.min.js"></script>
  <script src="../../../bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>