<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/contato.css">
  <title>Contate-nos</title>
</head>

<body>

  <div class="img_fundo">

    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/pre-login/login">Login</a>
          </li>
          <li>
            <a href="/pre-login/cadastro">Cadastre-se</a>
          </li>
          <li>
            <a href="/pre-login/contato" class="selecionado">Contate-nos</a>
          </li>
        </ul>
      </nav>
    </header>
    
    <main>
      <div class="title-page">
        <h1>Podemos ajudar?</h1>
        <p>
          Tem sugestões ou dúvidas sobre nosso serviços e/ou plataforma? Descreva-as abaixo! Nosso time terá o prazer em
          te ouvir.
        </p>
      </div>
      <div class="formulario">
        <input type="text" class="input-100" id="input-comentario" placeholder="Descreva seu comentário aqui...">
        <div class="form-text">
          <p>Para um melhor atendimento, precisamos de algumas informações..</p>
        </div>
        <div class="form-50">
          <div class="input-50">
            <label for="input_nome">NOME</label>
            <input type="text" id="input_nome" placeholder="João Silva">
          </div>
          <div class="input-50">
            <label for="input_email">EMAIL</label>
            <input type="text" id="input_email" placeholder="joaosilva44@gmail.com">
          </div>
        </div>
        <button class="button">ENVIAR</button>
      </div>
      
      <footer>
        <div class="icones">
          <a href="https://www.instagram.com/igor.rosiak/" target="_blank"><i class="fi fi-brands-instagram"></i></a>
          <a href="https://br.linkedin.com/in/igor-rosiak" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
          <a href="https://github.com/igorrosiak" target="_blank"><i class="fi fi-brands-github"></i></a>
        </div>
      </footer>

    </main>
  </div>

  <script src="./js/popper.min.js"></script>
  <script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>