<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../../img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../../bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../css/financeiro.css">
  <title>Lista de Gastos</title>
</head>

<body onchange="inserirResultado()">

  <div class="img_fundo">

    <header>
      <nav>
        <ul>
          <li>
            <a href="/pos-login/home">Home</a>
          </li>
          <li>
            <a href="/pos-login/funcionario/list">Funcionários</a>
          </li>
          <li>
            <a href="/pos-login/projeto/list">Projetos</a>
          </li>
          <li>
            <a href="/pos-login/financeiro/list" class="selecionado">Financeiro</a>
          </li>
          <li>
            <a href="#" class="icone_perfil"><i class="fi fi-rr-user icone_perfil"></i></a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Seu Financeiro</h1>

      <div id="tabela">
        <table class="table table-red">
          <thead>
            <tr>
              <th scope="col" colspan="0.5">Operação</th>
              <th scope="col">Valor Gasto</th>
              <th scope="col">Valor Inserido</th>
              <th scope="col">Finalidade</th>
              <th scope="col">Edição</th>
              <th scope="col"><a href="/pos-login/financeiro/add"><i class="fi fi-rs-add icone"></i></a></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="financeiro:${financeiros}">
              <th scope="row" th:text="${financeiro.idOperacao}"></th>
              <td th:text="${financeiro.valorGasto}"></td>
              <td th:text="${financeiro.valorInserido}"></td>
              <td th:text="${financeiro.finalidade}"></td>
              <td scope="col"><a th:href="@{'edit/' + ${financeiro.idOperacao}}"><i class="fi fi-rs-edit icone"></i></a></td>
              <td scope="col"><a th:onclick="|showModalDeletar('financeiro', ${financeiro.idOperacao})|"><i class="fi fi-rs-trash icone lixeira"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div> 

      <div class="modal" tabindex="-1" id="modalDeletar">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Atenção</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Você realmente deseja deletar a Operação?</p>
            </div>
            <div class="modal-footer">
              <button type="button" 
                class="btn btn-danger"
                th:onclick="deletar()"
              >
                Deletar
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div> 
    </main>
  </div>

 
  <script src="../../js/jquery-3.6.0.min.js"></script>
  <script src="../../js/popper.min.js"></script>
  <script src="../../bootstrap-5.0.0/js/bootstrap.min.js"></script>
  <script src="../../js/script.js"></script>

</body>

</html>