<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/index.css">
  <title>Gagi WorkSpace</title>
</head>

<body>

  <div class="img_fundo">
    <header>
      <nav>
        <ul>
          <li>
            <a href="/" class="selecionado">Home</a>
          </li>
          <li>
            <a href="/pre-login/login" class="bold">Login</a>
          </li>
          <li>
            <a href="/pre-login/cadastro">Cadastre-se</a>
          </li>
          <li>
            <a href="/pre-login/contato">Contate-nos</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="main">

      <article class="page_1">
        
        <h1>Welcome to</h1>
    
        <img src="./img/Logo Gagi 2.png" alt="Imagem Logo Gagi WorkSpace">

        <button>Saiba Mais</button>

      </article>
    </main>
  </div>

  <section class="scroll">

    <article>

      <div class="card_1">

        <p>A GAGI WORKSPACE é um projeto desenvolvido na matéria de Desenvolvimento de Sistemas, que tem o objetivo de fornecer um sistema, na qual a empresa que utilizar, terá um controle/gerenciamento de seus funcionários, da parte financeira e do próprio projeto que o usuário está desenvolvendo.</p>
      
      </div>
        
      <div class="card_2">

        <div class="texto">
          <h2>Da onde surgiu o nome GAGI ?</h2>
          <p>O surgimento do nome veio através da junção das inicias do nome de cada integrante da equipe, sendo:
            Gabriela, Ariany, Gabriel e Igor.</p>
          <h2>Empresas que já utilizam a GAGI para seu gerenciamento?</h2>
        </div>

        <div class="imagens">
          <img src="./img/logo_ford.png" alt="">
          <img src="./img/logo_intelbras.png" alt="">
          <img src="./img/logo_burgerking.png" alt="">
        </div>

      </div>

    </article>

    <footer>
      <h2>Learn more about us</h2> 
      <div class="icones">
        <a href="https://www.instagram.com/igor.rosiak/" target="_blank"><i class="fi fi-brands-instagram"></i></a>
        <a href="https://br.linkedin.com/in/igor-rosiak" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
        <a href="https://github.com/igorrosiak" target="_blank"><i class="fi fi-brands-github"></i></a>
      </div>
      <span>SESI SENAI | 2022</span>
    </footer>

  </section>

  <script src="./js/popper.min.js"></script>
  <script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>

</body>

</html>