<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../bootstrap-5.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/home.css">
    <title>Home</title>
</head>
<body>
  
    <div class="img_fundo">

      <header>
          <nav>
              <ul>
                <li>
                  <a href="/pos-login/home" class="selecionado">Home</a>
                </li>
                <li>
                  <a href="/pos-login/funcionario/list">Funcionários</a>
                </li>
                <li>
                  <a href="/pos-login/projeto/list">Projetos</a>
                </li>
                <li>
                  <a href="/pos-login/financeiro/list">Financeiro</a>
                </li>
                <li>
                  <a href="#" class="icone_perfil"><i class="fi fi-rr-user icone_perfil"></i></a>
                </li>
              </ul>
            </nav>


      </header>

      <main>
          
        <h2>Bem vindo,</h2>
        
        <h1>INTELBRAS</h1>
        
        <div class="borda"></div>
      
        <p class="sobre">Aqui no GAGI WORKSPACE você pode administrar e gerenciar sua empresa com maior facilidade e praticidade.
        Tendo sempre como visão, ajudar sua empresa a crescer e se desenvolver dentro do mercado.

      </main>

      <footer>
        <h2>Learn more about us</h2> 
        <div class="icones">
          <a href="https://www.instagram.com/igor.rosiak/" target="_blank"><i class="fi fi-brands-instagram"></i></a>
          <a href="https://br.linkedin.com/in/igor-rosiak" target="_blank"><i class="fi fi-brands-linkedin"></i></a>
          <a href="https://github.com/igorrosiak" target="_blank"><i class="fi fi-brands-github"></i></a>
        </div>
        <span>SESI SENAI | 2022</span>
      </footer>

    </div>

</body>
</html>